
/* Top page header */
.mainHeader {
    text-align: center;
    background-color: var(--background);
    color: var(--mainColour);
    transition: 0.4s;
}

.pageTopper {
    font-size: 3vw;
    line-height: normal;
    margin: 0;
}

.pageTopperSubtext {
    font-size: 0.8vw;
    line-height: normal;
}

/* Main image on home page */
.welcome {
    margin-top: 3vw;
    margin-left: 39vw;
    width: 20vw;
    min-height: 15vw;
    background-color: var(--background);
    transition: 0.4s;
}

.welcome:hover {
    background-color: var(--tertiary);
    cursor: pointer;
}

.homeImg {
    width: 20vw;
    border: solid 1vw var(--tertiary);
    transition: 0.6s ease;
}

.homeImg:hover {
    transform: scale(0.8);
    transition: 0.6s ease;
}

/* Links to external pages */
.extLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Central header for body */
.centralHeader {
    margin: 0 40vw;
    width: 20vw;
    text-align: center;
    font-size: 3vw;
}

/* Sidebar Styles */
.sidebarLeft {
    float: left;
    width: 20vw;
    height: fit-content;
    min-width: 15vw;
    padding: 1vw;
    margin: 0 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    background-color: var(--secondary);
    text-align: left;
    font-size: 1vw;
    transition: 0.4s ease-in-out;
}

.sidebarLeft:hover {
    box-shadow: 0 0 1.1vw rgba(0, 0, 0, 0.3);
    scale: 0.95;
}

.sidebarRight:hover {
    box-shadow: 0 0 1.1vw rgba(0, 0, 0, 0.3);
    scale: 0.95;
}

.sidebarRight {
    float: right;
    width: 20vw;
    height: fit-content;
    min-width: 15vw;
    padding: 1vw;
    margin: 0 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    background-color: var(--tertiary);
    text-align: right;
    font-size: 1vw;
    transition: 0.4s ease-in-out;
}

.sidebarRight h1, h2, h3, h4, h5, h6 {
    color: var(--contrast);
    transition: 0.4s ease-in-out;
}

.sidebarLeft h1, h2, h3, h4, h5, h6 {
    color: var(--contrast);
    transition: 0.4s ease-in-out;
}

.sidebarRight ul {
    margin-left: 0;
    padding-left: 2vw;
    transition: 0.4s ease-in-out;
}

.sidebarLeft ul {
    margin-left: 0;
    padding-left: 2vw;
}

.sidebarRight p {
    color: var(--mainColour);
    font-size: 1.1vw;
}

.sidebarLeft p {
    color: var(--mainColour);
    font-size: 1.1vw;
}

/* Main body content */
.centered {
    display:inline-block;
    height: fit-content;
    margin: 0 2vw;
    padding: 0 1vw;
    width: 52vw;
    text-align: center;
}

.centered h1, h2, h3, h4, h5, h6 {
    color: var(--contrast);
}

.centered h1 {
    font-size: 2vw;
}

.centered h2 {
    font-size: 1.5vw;
}

.centered p {
    font-size: 1.2vw;
    color: var(--mainColour);
}

.centered ul {
    margin-left: 0;
    padding-left: 0vw;
    font-size: 1.4vw;
}

/* Resume Page styles */

#education {
    display: inline-block;
}

#summary {
    display: inline-block;
}

#awards {
    margin-top: -60vw;
    margin-left: -21vw;
    background-color: var(--tertiary);
}

#languages {
    margin-top: -18vw;
    background-color: var(--secondary);
}

#links {
    margin-top: 0;
}

#skills {
    margin-top: -22vw;
}

/* Contact Me styles */
#contactDetails {
    background-color: var(--tertiary);
}

#contactSomething {
    display: inline-block;
    background-color: var(--secondary);
}

/* Form styles */
#contactForm  {
    font-size: 1.7vw;
    min-height: fit-content;
    transition: 0.4s;
    padding: 3vw;
    height: 95vw;
    max-width: 70vw;
}

.formSet {
    display:inline-block;
    height: fit-content;
    margin: 0 1vw;
    padding: 0 1vw;
    width: 62vw;
    text-align: center;
}

.formSet label {
    clear: left;
    float: left;
    background-color: var(--tertiary);
    border: 1px solid var(--contrast);
    color: var(--mainColour);
    clear: right;
    font-size: 1vw;
    width: 17vw;
    height: 2vw;
    margin: 1vw 1vw;
    padding: 1vw;
    padding-bottom: 2vw;
}

.formSet input {
    clear: right;
    float: right;
    background-color: var(--secondary);
    border: 1px solid var(--contrast);
    color: var(--mainColour);
    clear: right;
    font-size: 1vw;
    width: 36vw;
    height: 2vw;
    margin: 1vw 1vw;
    padding: 1.5vw;
}

.formSet textarea {
    clear: right;
    float: right;
    background-color: var(--secondary);
    border: 1px solid var(--contrast);
    color: var(--mainColour);
    clear: right;
    font-size: 1vw;
    width: 36vw;
    height: 2vw;
    margin: 1vw 1vw;
    padding: 1.5vw;
    max-width: 36vw;
    min-width: 36vw;
    height: 10vw;
    max-height: 39vw;
}

#submit {
    height: 4vw;
    margin: 0 1vw;
    padding: 1vw;
}

/* Footers */
.footer {
    clear: both;
    margin-top: 20vw;
    padding: 0;
    min-width: 100vw;
    max-width: 100vw;
}

.footer p {
    font-size: 0.6vw;
}

#hobbiesFooter {
    margin-top: 10vw;
}

/* Sports teams */
#chels:hover {
    color: rgb(3, 70, 148);
}

#cavs:hover {
    color: rgb(205, 43, 43);
}

#necks:hover {
    color: black;
}

#hawks:hover {
    color: rgb(105, 190, 40);
}

#habs:hover {
    color: rgb(175, 30, 45);
}

#flames:hover {
    color: rgb(210, 0, 28);
}







































/* Shhhhhhh */

#secret1 {
    transition: 0.4s ease-in-out;
}

#secret1:hover {
    cursor: pointer;
    transform: scale(0.9);
    background-color: var(--tertiary);
    color: var(--background);
    transition: 0.4s ease-in-out;
}

.secretGate {
    margin-left: 50vw;
    margin-top: -23vw;
    padding: 1vw;
    width: 1.5vw;
    font-size: 0.5vw;
    cursor: pointer;
    color: var(--background);
    transition: 0.4s ease-in-out;
}

.secretGate:hover {
    color: var(--mainColour);
}

.secretPageTopper {
    font-size: 3vw;
    line-height: normal;
    margin: 0;
    cursor: pointer;
}

.secretSidebarLeft {
    float: left;
    width: 20vw;
    height: fit-content;
    min-width: 15vw;
    padding: 1vw;
    margin: 0 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    background-color: var(--secondary);
    text-align: left;
    font-size: 1vw;
    cursor: pointer;
}

.secretSidebarRight {
    float: right;
    width: 20vw;
    height: fit-content;
    min-width: 15vw;
    padding: 1vw;
    margin: 0 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    background-color: var(--tertiary);
    text-align: right;
    font-size: 1vw;
    cursor: pointer;
}

.secretSidebarLeft:hover {
    cursor: pointer;
    transform: scale(0.9);
    background-color: var(--tertiary);
    color: var(--background);
    transition: 0.4s ease-in-out;
}

.secretSidebarRight:hover {
    cursor: pointer;
    transform: scale(0.9);
    background-color: var(--tertiary);
    color: var(--background);
    transition: 0.4s ease-in-out;
}

.secretCentralHeader {
    margin: 0 40vw;
    width: 20vw;
    text-align: center;
    font-size: 3vw;
    cursor: pointer;
}
